<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') -%>
</head>

<body>
  <header class="main-header">
    <%- include('../partials/navigation.ejs') -%>
  </header>
  <main class="main-content">
    <h1>Admin Products</h1>
  </main>
</body>

</html>