<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ pageTitle }}</title>
  <link rel="stylesheet" href="/css/main.css">
  {{#if formCSS}}
    <link rel="stylesheet" href="/css/form.css">
  {{/if}}
  {{#if productCSS}}
    <link rel="stylesheet" href="/css/product.css">
  {{/if}}
</head>

<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item">
          <a href="/" {{#if activeShop}}class="active" {{/if}}>Shop</a>
        </li>
        <li class="main-header__item">
          <a href="/admin/add-product" {{#if activeAddProduct}}class="active" {{/if}}>Add Product</a>
        </li>
      </ul>
    </nav>
  </header>
  {{{ body }}}
</body>

</html>