<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs'); -%>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <%- include('./partials/navigation.ejs'); -%>
  <main>
    <h1>Sorry, can't find that</h1>
  </main>
</body>

</html>